<nav>
	<ul>
		{%- for menuItem in menu -%}
		<li>
			<a href="{{menuItem.url | safe}}" title="{{ menuItem.text }}">
				{{menuItem.icon | safe}}
				<span class="sr-only">{{ menuItem.text }}</span>
			</a>
		</li>
		{%- endfor -%}
	</ul>
</nav>
