<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>{{pkg.name}} - v{{pkg.version}}</title>
	{% set css %}{% include 'css/style.css' %}{% endset %}
	<style>{{ css | cssmin | safe }}</style>
	<script>document.documentElement.classList.add('js')</script>
</head>
<body>
	<a class="skip-link sr-only" href="#content">Skip to content</a>

	<!-- Navigation -->
	{% include 'navigation.njk' %}

	<!-- The main content area -->
	<main id="content">
		<div class="app-container">
			<div id="app">

				{{ content | safe }}
			</div>
			<noscript>
				The application requires JavaScript to work 💔.
			</noscript>
		</div>
	</main>

	<!-- Sidebar -->
	<aside>
		<form action="">
			<button>⬇ Download</button>
		</form>
		<p class="aside-footer">{{pkg.name}} - v{{pkg.version}}</p>
	</aside>

	<script>
		{% jsBundle %}
	</script>
</body>
</html>